In [1]:
import pandas as pd

In [2]:
def udf_sum(x,y):
    result = x + y
    return result

In [3]:
udf_sum(pd.Series([2,4,6]), 4)

0     6
1     8
2    10
dtype: int64

In [4]:
def udf_sum2(x,y):
    result = x.sum() + y
    return result

In [5]:
udf_sum2(pd.Series([2,4,6]), 4)

16

In [6]:
def udf_mean1(x):
    result = round(x.mean(), 3)
    return result

In [9]:
udf_mean1(pd.Series([2,4,6,0.2345]))

3.059

In [12]:
def udf_mean2(x, digit):
    result = round(x.mean(), digit)
    return result

In [13]:
udf_mean2(pd.Series([2,4,6,0.2345]), 2)

3.06

In [14]:
def udf_mean3(x, digit=3):
    result = round(x.mean(), digit)
    return result

In [15]:
udf_mean3(pd.Series([2,4,6,0.2345]))

3.059

문제 01. 입력 객체의 원소를 모두 제곱한 후 그 원소를 더한 다음 제곱근을 취하는 사용자 정의 함수를 만들었을 때 해당 사용자 정의 함수에 [3,5,9,20]를 입력으로 하는 경우 그 출력값은?

In [16]:
def udf_euc(x):
    result = x.pow(2).sum() ** 0.5
    return result

In [17]:
udf_euc(pd.Series([3,5,9,20]))

22.693611435820433

In [19]:
def udf_euc2(x):
    result = (x**2).sum() ** 0.5
    return result

In [20]:
udf_euc2(pd.Series([3,5,9,20]))

22.693611435820433

In [21]:
def udf_euc3(x):
    result = x.pow(2).sum().pow(0.5)
    return result

In [22]:
udf_euc3(pd.Series([3,5,9,20]))

AttributeError: 'numpy.int64' object has no attribute 'pow'

문제 02. 표준화(Standardization) 사용자 정의 함수를 만들고 [-4,5,7,9]를 입력한 경우 여기서 입력한 7은 몇 으로 반환되는가?

In [25]:
def nor_std(x):
    result =(x - x.mean()) / x.std()
    return result

In [26]:
nor_std(pd.Series([-4,5,7,9]))

0   -1.437957
1    0.130723
2    0.479319
3    0.827915
dtype: float64

문제 03. MinMax 정규화 사용자 정의 함수를 만들고 [-4,5,7,9]를 입력한 경우 여기서 입력한 7은 몇으로 반환되는가?

In [28]:
def nor_minmax(x):
    result = (x - x.min()) / (x.max() - x.min())
    return result

In [29]:
nor_minmax(pd.Series([-4,5,7,9]))

0    0.000000
1    0.692308
2    0.846154
3    1.000000
dtype: float64